<template>
    <v-navigation-drawer
            fixed
            clipped
            app
            :value="show"
            width="250"
            hide-overlay
            stateless
            dark
    >
        <v-divider></v-divider>

        <v-list class="nav">
            <template v-for="(item, i) in menuList">
                <v-list-tile
                        :key="i + '-menu_item'"
                        class="nav-link"
                        active-class="nav-link-active"
                        :to="item.route"
                        exact
                >
                    <v-list-tile-action class="nav-link-action">
                        <v-icon class="icon">{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                        <v-list-tile-title>{{ item.title}}</v-list-tile-title>
                </v-list-tile>
            </template>

            <v-list-group :prepend-icon="MenuGroup.icon">
                <v-list-tile slot="activator" active-class="nav-link-active" exact>
                    <v-list-tile-title>{{ MenuGroup.title }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile class="nav-link" active-class="nav-link-active" exact v-for="(item, index) in MenuGroup.MenuItems" :key="index+'____'" :to="item.route">
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    <v-list-tile-action class="nav-link-action">
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list-group>

            <v-divider></v-divider>
        </v-list>
    </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import {prefix} from '@/routes/main';

class MenuItem {
  public title: string;
  public icon: string;
  public route: object;

  public constructor({ title = 'Undefined :)', icon = 'NO', routeName = '/' }) {
    this.title = title;
    this.icon = icon;
    this.route = { name: prefix + routeName };
  }
}

class MenuItemGroup {
  public title: string;
  public icon: string;
  public MenuItems: MenuItem[];

  public constructor(
    { title = 'undefined :)', icon = 'NO' },
    items: MenuItem[],
  ) {
    this.title = title;
    this.icon = icon;
    this.MenuItems = items;
  }
}

@Component
export default class Menu extends Vue {
  @Prop({ default: false })
  public show!: boolean;
  @Prop({ default: false })
  public app!: boolean;

  public menuList: MenuItem[] = [
    new MenuItem({
      title: 'Начать обучение',
      icon: 'event_note',
      routeName: 'preview',
    }),
    // new MenuItem({
    //   title: "Пользователи",
    //   icon: "group",
    //   routeName: "users"
    // })
  ];

  public MenuGroup: MenuItemGroup = new MenuItemGroup(
    {
      title: 'Обучение',
      icon: 'dvr',
    },
    [
      new MenuItem({
        title: 'Категории',
        icon: 'category',
        routeName: 'categories',
      }),
      new MenuItem({
        title: 'Уроки',
        icon: 'format_shapes',
        routeName: 'lessons',
      }),
    ],
  );
}
</script>
