<template>
    <div class="image3d-container text-xs-center">
        <img
                class="image3d-item"
                :src="image"
                alt="undefined img"
                :style="{height: `${height}px`, width: `${width}px`}"
        />
    </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component({})
export default class Image3D extends Vue {
  @Prop() public image!: any;
  @Prop({ default: 50 })
  public height!: number;
  @Prop({ default: 50 })
  public width!: number;
}
</script>


<style lang="less" scoped>
    .image3d-container {
        perspective: 100px;
        transition: 0.3s;
        padding: 0 5px;
        position: relative;
        display: inline-block;
        .image3d-item {
            box-sizing: border-box;
            box-shadow: 0 5px 3px black;
            border: 1px solid black;
            background-color: rgba(26, 13, 32, 0.5);
            border-radius: 100%;
            transform: rotateX(15deg);
            transition: 0.4s;
            width: 100%;
            height: auto;
            &:hover {
                cursor: pointer;
                animation: rotating 0.4s ease-in-out forwards;
                background-color: rgb(255, 255, 255);
            }
        }
    }

    @keyframes rotating {
        0% {
            transform: rotateZ(0deg) scale(1);
        }
        33% {
            transform: rotateZ(-15deg) scale(1.25);
        }
        66% {
            transform: rotateZ(15deg) scale(1.35);
        }
        100% {
            transform: rotateZ(0deg) scale(1.5);
        }
    }
</style>
