.alert-fade-enter{
  opacity: 0;
  transform: scale(0.7);
}
.alert-fade-enter-active{
  transition: 0.5s;
}
.alert-fade-enter-to{
  transform: scale(1);
}

.alert-fade-leave{
  transform: scale(1);
}

.alert-fade-leave-active{
  transition: 0.5s;
}
.alert-fade-leave-to{
  opacity: 0;
  transform: scale(0.7);
}
