@import "animations.less";
@import "vars.less";

*{
  box-sizing: border-box;
}

.v-window__container{
  height: inherit !important;
}

.v-navigation-drawer{
  background-color:#212121 !important;
}
.nav{
  //background-color:#212121 !important;
  padding: 0;
  text-align: center;

  &-link{
    padding: 0;
    color: white;
    text-shadow: @text-shadow;
    transition: 0.5s;
    //font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover{
      //background-color: #ea1717;
      background-color: #c00b0b;
    }
    &-content{
      font-size: 1em;
      font-weight: 400;
    }
    &-active{
      background-color: rgb(3, 121, 180);
    }
    &-action{
      //justify-content: center;
    }
    &-action .icon{
      color: #fff;
    }
  }
}
