<template>
    <v-container grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 sm12>
                <app-price-card></app-price-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';

import AppPriceCard from '@/components/cards/PriceCard';

const components = {
  AppPriceCard,
};

@Component({ components })
export default class Courses extends Vue {

}
</script>

<style lang="less" scoped>
</style>
