<template>
    <v-card height="100%">
        <v-img :height="height" alt="not found" :src="src" @click="clickOnImage" class="section__image"></v-img>
        <v-card-title>
            <h3 class="headline">{{ title }}</h3>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
            <p :class="textOverflow ? 'text-overflow' : ''">{{ description }}</p>
        </v-card-text>
        <v-card-actions>
            <slot name="actions"></slot>
        </v-card-actions>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component, Emit, Prop} from 'vue-property-decorator';

@Component
export default class ImageCard extends Vue {
    @Prop() public item!: any;
    @Prop({default: 200, type: Number}) public height!: number;
    @Prop([String, Number]) public title!: string|number;
    @Prop([String, Number]) public description!: string|number;
    @Prop(String) public src!: string|number;
  @Prop({ default: false, type: Boolean}) public textOverflow!: boolean;

    @Emit('clickOnImage')
    public clickOnImage(): any {
      return this.item;
    }
}
</script>

<style scoped lang="less">
.add {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
         background-color: darken(white, 10%);
    }
}
.section__image {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #000;
            opacity: 0.7;
        }
        &::after {
             content: "Изменить изображение";
             position: absolute;
             top: 50%;
             right: 0;
             transform: translateY(-50%);
             left: 0;
             color: #fff;
             text-shadow: 1px 1px 3px #000;
             text-align: center;
             vertical-align: middle;
        }
    }
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.flexcard {
    display: flex;
    flex-direction: column;
}
</style>
