<template>
    <v-card height="100%">
        <v-img :height="height" alt="not found" :src="src" @click="clickOnImage" class="clickable_img"></v-img>
        <v-card-title>
            <h3 class="headline">{{ title }}</h3>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
            <p :class="textOverflow ? 'text-overflow' : ''">{{ description }}</p>
        </v-card-text>
        <v-card-actions>
            <slot name="actions"></slot>
        </v-card-actions>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component, Emit, Prop} from 'vue-property-decorator';

@Component
export default class ImageCardCircle extends Vue {
  @Prop() public item!: any;
  @Prop({default: 200, type: Number}) public height!: number;
  @Prop([String, Number]) public title!: string|number;
  @Prop([String, Number]) public description!: string|number;
  @Prop(String) public src!: string|number;
  @Prop({ default: false, type: Boolean}) public textOverflow!: boolean;

  @Emit('clickOnImage')
  public clickOnImage(): any {
    return this.item;
  }
}
</script>

<style scoped lang="less">
    .clickable_img{
        cursor: pointer;
        position: relative;
        &:hover{
            &::before{
                opacity: 0.9;
                transform: translate(-50%, -50%) scale(1);
            }
            &::after{
                opacity: 0.5;
            }
        }
        &::before{
            content: "";
            border-radius: 100%;
            position: absolute;
            background-color: rgb(243, 137, 50);
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) scale(0.5);
            width: 50px;
            height: 50px;
            z-index: 999;
            opacity: 0;
            transition: 0.3s ease-in-out;

        }
        &::after{
            content: "";
            background-color: #212121;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: 800;
            transition: 0.3s ease-in-out;
        }
    }
    .text-overflow{
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
</style>
