<template>
    <div>price</div>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';

@Component
export default class PriceCard extends Vue {

}
</script>

<style lang="less" scoped>
</style>
