<template>
    <div class="overlay" :style="{display: !show}"></div>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component, Prop} from 'vue-property-decorator';

@Component
export default class OverlayDisabledScreen extends Vue {
  @Prop(Boolean) public show!: boolean;
}
</script>

<style lang="less" scoped>
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        z-index: 9999;
    }
</style>
