<template>
    <v-app>
        <v-layout style="min-height: 100vh;">
            <v-container fill-height>
                <v-layout row fill-height justify-center align-center>
                    <v-flex xs10 sm8 md8 lg6>
                        <v-card class="elevation-12" @keypress="keyPress">
                            <v-toolbar color="primary">
                                <v-toolbar-title>
                                    <h1 class="headline black--text">Регистрация</h1>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-container fluid grid-list-md="2">
                                <v-layout row wrap>
                                    <v-flex xs12 sm12>
                                        <v-text-field type="email"
                                                      v-model="user.email"
                                                      label="Email*"
                                                      :rules="[rules.required, rules.email]"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-text-field type="password"
                                                      v-model="user.password"
                                                      :rules="[rules.min]"
                                                      label="Пароль*"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-text-field type="password"
                                                      v-model="passwordRepeat"
                                                      label="Повторите пароль*"
                                                      :error="!passwordRepeatValid"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-alert type="error" :value="error.show">{{ error.message }}</v-alert>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-btn flat small @click="$router.push({name: 'signin'})" color="primary">Войти</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="signup" :disabled="!validate">Создать аккаунт</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {namespace} from 'vuex-class';
import {UsersType} from '@/services/backend/Users';
import rules, {minValue} from '@/validator/regex';

const AuthModule = namespace('auth');

@Component
export default class Signin extends Vue {
  @AuthModule.Action('signup') public storeSignup: any;

  private readonly rules = rules;

  private passwordRepeat: string = '';

  private user: UsersType = {
    email: '',
    password: '',
  };

  private error = {
    show: false,
    message: '',
  };

  get passwordValid() {
    return this.user.password.length > minValue;
  }

  get passwordRepeatValid() {
    return this.passwordRepeat === this.user.password;
  }

  get validate() {
    return (
      this.passwordValid && this.passwordRepeatValid
      && this.rules.email(this.user.email) === true
    );
  }

  private keyPress(e: KeyboardEvent) {
    e.key.charCodeAt(0) === 69 ? this.signup() : false;
  }

  private async signup() {
    this.error.show = false;

    try {
      await this.storeSignup(this.user);
      this.$router.push({name: 'home'});
    } catch (e) {
      this.error.show = true;
      this.error.message = e.message;
    }
  }
}
</script>

<style scoped>

</style>
