<template>
    <v-app>
        <v-layout style="min-height: 100vh;">
            <v-container fill-height>
                <v-layout row fill-height justify-center align-center>
                    <v-flex xs10 sm8 md6 lg4>
                        <v-card class="elevation-12" @keypress="keyPress">
                            <v-toolbar color="primary">
                                <v-toolbar-title>
                                    <h1 class="headline">Личный кабинет</h1>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-container fluid>
                                <v-layout row wrap>
                                    <v-flex xs12 sm12>
                                        <v-text-field type="email" v-model="user.email" label="Email"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-text-field type="password" v-model="user.password" label="Пароль"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-alert type="error" :value="error.show">{{ error.message }}</v-alert>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="signin">Вход</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {namespace} from 'vuex-class';
import {UsersType} from '@/services/backend/Users';
import {prefix as main_routes_prefix} from '@/routes/main';

const AuthModule = namespace('auth');

@Component
export default class Signin extends Vue {
    @AuthModule.Action('login') public storeLogin: any;


    private user: UsersType = {
      email: '',
      password: '',
    };


    private error = {
      show: false,
      message: '',
    };

    private keyPress(e: KeyboardEvent) {
      e.key.charCodeAt(0) === 69 ? this.signin() : false;
    }

    private async signin() {
        this.error.show = false;
        try {
          await this.storeLogin(this.user);
          this.$router.push({name: main_routes_prefix + 'categories'});
        } catch (e) {
          this.error.show = true;
          this.error.message = e;
        }
    }
}
</script>

<style scoped>

</style>
