<template>
    <v-toolbar
            :app="app"
            color="secondary"
            height="50"
            fixed
            clipped-left
    >
        <v-toolbar-side-icon
                @click="toggleMenu"
                class="white--text"
        />
        <v-toolbar-title class="logo white--text"
                         @click="() => $router.push({name: 'admin'})"
        >Simple.dev</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-menu offset-y v-if="isAuth">
                <v-btn icon slot="activator" class="white--text">
                    <v-icon>account_circle</v-icon>
                </v-btn>
                <v-list dense>
                    <v-list-tile @click="() => $router.push({name: 'profile'})">
                        <v-list-tile-title>Профиль</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="logout">
                        <v-list-tile-title>Выход</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <v-layout align-center fill-height v-else>
                <v-btn flat color="primary" :to="{name: 'signin'}">Личный кабинет</v-btn>
            </v-layout>

        </v-toolbar-items>
    </v-toolbar>
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const AuthModule = namespace('auth');

@Component
export default class Toolbar extends Vue {
  @Prop() public app!: Boolean;

  @AuthModule.Getter('isAuth') public isAuth: any;

  @AuthModule.Action('logout') public logout: any;

  @Emit('toggleMenu')
  public toggleMenu() {}
}
</script>

<style lang="less" scoped>
    .logo {
        font-weight: bold;
        cursor: pointer;
    }
</style>
