<template >
    <v-container>
        <v-data-table
            :items="items"
            :headers="headers"
            :expand="false"
            :pagination.sync="pagination"
        >
            <template slot="items" slot-scope="props">
                <tr @click="props.expanded = !props.expanded">
                    <td>{{ props.item.id }}</td>
                    <td class="text-xs-right">{{ `${props.item.lastName} ${props.item.firstName}` }}</td>
                    <td class="text-xs-right">{{ props.item.phone }}</td>
                </tr>
            </template>
            <template slot="expand" slot-scope="props">
                <v-card flat>
                    <v-container>
                        <p><strong>Номер заявки:</strong> {{ props.item.id }}</p>
                        <p><strong>Ф.И:</strong> {{ `${props.item.lastName} ${props.item.firstName}` }}</p>
                        <p><strong>Возраст:</strong> {{ props.item.age }}</p>
                        <p><strong>Телефон:</strong> {{ props.item.phone }}</p>
                        <p><strong>Email:</strong> {{ props.item.email }}</p>
                        <p><strong>Занятость:</strong> {{ props.item.status }}</p>
                        <p><strong>Дополнительно:</strong> {{ props.item.info }}</p>
                        <p><strong>Дата отправки:</strong>  {{ props.item.date }}</p>
                        <v-btn small @click="accept(props.item)" ref="accept_button" color="success">Принять</v-btn>
                        <v-btn small color="error">Отклонить</v-btn>
                    </v-container>
                </v-card>
            </template>
        </v-data-table>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {namespace} from 'vuex-class';
import Users from '@/services/backend/Users';
import {Bid} from '@/services/backend/bids/Form';

const BidsModule = namespace('bids');

@Component
export default class Bids extends Vue {
  @BidsModule.Getter('items') public items: Bids[];
  @BidsModule.Action('refresh') public refresh: any;

  private headers = [
    {
      text: '№',
      value: 'id',
    },
    {
      text: 'Ф.И',
      value: 'fullName',
    },
    {
      text: 'Телефон',
      value: 'phone',
    },
  ];

  private pagination = {sortBy: 'id', descending: true};

  private async accept(bid: Bid){

    const el = this.$refs.accept_button.$el;

    el.disabled = true;

    const price = 6500;
    try{
      const res = await Users.acceptBid(bid, price);
      this.refresh();
      // res - equal boolean = true
    }catch (e) {
      console.log(e);
      throw e;
    }finally {
      el.disabled = false;
    }
  }


}
</script>

<style lang="less" scoped>
</style>
