<template>
    <v-container grid-list-md="24">
        <v-dialog v-model="dialog" max-width="500">
            <v-card>
                <v-card-title>
                    <span class="headline">Топик</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm12>
                                <v-text-field label="Название" v-model="editItem.title"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-textarea label="Описание" rows="1" v-model="editItem.description"></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-textarea label="Youtube" rows="1" v-model="editItem.youtube"></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-textarea label="Репозиторий" rows="1" v-model="editItem.repository"></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-select label="Категория"
                                          v-model="editItem.category"
                                          :items="categories"
                                          item-value="id">
                                    <template slot="selection" slot-scope="data">
                                        {{ data.item.title }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        <v-list-tile-content>
                                            <v-list-tile-title v-html="`${data.item.title}`">
                                            </v-list-tile-title>
                                        </v-list-tile-content>
                                    </template>
                                </v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-btn @click="close" small block color="error">Отмена</v-btn>
                            </v-flex>
                            <v-flex xs12 sm6 v-if="editItem.id === null">
                                <v-btn @click="save" small block color="primary">Сохранить</v-btn>
                            </v-flex>
                            <v-flex xs12 sm6 v-else>
                                <v-btn @click="update" small block color="primary">Обновить</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-layout row wrap>
            <v-flex xs12 sm12>
                <v-btn block small @click="add" class="add" color="primary">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-flex>

            <v-flex
                    v-for="(item, i) in items"
                    xs12 md6
                    :key="i"
            >
                <app-image-card
                        :item="item"
                        :title="item.title"
                        :description="item.description"
                        :src="`http://localhost:8000/api/file/${item.preview}`"
                        @clickOnImage="upload(item)"
                >
                    <template slot="actions">
                        <v-container fluid>
                            <v-layout row wrap>

                                <v-flex xs12 sm12>
                                    <v-btn block
                                           small
                                           :color="item.published === false ? 'secondary' : 'success'"
                                           @click="item.changePublicate"
                                    >{{ item.published === false ? 'Опубликовать' : 'Скрыть' }}</v-btn>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-btn block small color="error" @click="remove(item)">Удалить</v-btn>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-btn block small color="primary" @click="edit(item)">Изменить</v-btn>
                                </v-flex>
                                <v-divider></v-divider>
                                <v-flex xs12 sm12>
                                    <v-btn small block @click="go(item)" color="warning">Перейти к урокам</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </template>
                </app-image-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component, Watch} from 'vue-property-decorator';
import {Getter, namespace} from 'vuex-class';
import {TopicsQueryParams, TopicsType} from '@/services/backend/Topics';
import appImageCard from '@/components/cards/ImageCard.vue';
import FileUploader from '@/services/backend/File';
import {prefix as admin_routes_prefix} from '@/routes/admin';
import {Topic} from '@/services/backend/models/Topic';
import {Category} from '@/services/backend/models/Category';
import {CategoriesType} from '@/services/backend/Categories';
import {Lesson} from '@/services/backend/models/Lesson';
import {LessonsType} from '@/services/backend/Lessons';

const LessonsModule = namespace('lessons');

const components = {
  'app-image-card' : appImageCard,
};

@Component({components})
export default class Topics extends Vue {
  @Getter('categories/items') public categories: Category[];
  @LessonsModule.Getter('items') public items: Category[];
  @LessonsModule.Mutation('addToBegin') public addToBegin;
  @LessonsModule.Mutation('removeById') public removeById;

  private dialog: boolean = false;

  private editItem: Lesson = {
    title: '',
    category: null,
    description: '',
    youtube: '',
    update(): Promise<Lesson> {},
  };


  @Watch('dialog')
  public onDialogChange(val: boolean) {
    val || this.close();
  }

  public async add() {
    this.editItem = new Lesson('', '');
    this.open();
  }

  public async edit(item: Lesson) {
    this.editItem = item;
    this.open();
  }

  public async remove(item: Lesson) {
    const conf = await confirm('Действительно удалить урок? ' + item.title);
    if (conf) {
      await item.remove();
      this.removeById(item.id);
    }
  }


  public async save() {
    const cat = await this.editItem.save();
    this.addToBegin(cat);
    this.close();
  }

  public async update() {
    await this.editItem.update();
    this.close();
  }

  public go(item: Lesson) {
    this.$router.push({
      name: admin_routes_prefix + 'categories_lessons',
      params: { categories_id: item.id as String},
    });
  }

  private open() {
    this.dialog = true;
  }

  private close() {
    this.dialog = false;
  }

  private upload(item: Lesson) {
    const input = document.createElement('input');
    input.type = 'file';
    input.click();
    input.onchange = async (e: any) => {
      const file = e.target.files[0];
      await item.changeImage(file);
    };
  }

}
</script>

<style scoped>

</style>
