<template>
    <v-container>
        <v-data-table
                :items="users"
                :headers="headers"
                :expand="false"
                :pagination.sync="pagination"
        >
            <template slot="items" slot-scope="props">
                <tr @click="props.expanded = !props.expanded">
                    <td>{{ props.item.id }}</td>
                    <td class="text-xs-left">{{ `${props.item.email}` }}</td>
                    <td class="text-xs-left">{{ `${props.item.fullName}` }}</td>
                    <td class="text-xs-left">{{ `${props.item.previliges}` }}</td>
                </tr>
            </template>
            <template slot="expand" slot-scope="props">
                <v-card flat>
                    <v-container>
                        <p><strong>UID:</strong> {{ props.item.id }}</p>
                        <p><strong>Ф.И.О:</strong> {{ `${props.item.fullName}` }}</p>
                        <p><strong>Телефон:</strong> {{ props.item.contact.phone }}</p>
                        <p><strong>Возраст:</strong> {{ props.item.age }}</p>
                        <v-btn
                                v-if="!props.item.isActive"
                                small
                                color="success"
                                @click="sendPassword(props.item)"
                        >Выслать пароль</v-btn>
                    </v-container>
                </v-card>
            </template>
        </v-data-table>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {namespace} from 'vuex-class';
import {User} from '@/services/backend/models/User';
import UsersService from '@/services/backend/Users';

const UsersModule = namespace('users');

@Component
export default class Users extends Vue {
    @UsersModule.Getter('items') public users;

    private readonly headers = [
      {
        text: 'id',
        value: 'id',
      },
      {
        text: 'email',
        value: 'email',
      },
      {
        text: 'Ф.И.О',
        value: 'fullName',
      },
      {
        text: 'Привелегии',
        value: 'previliges',
      },
    ];

  private readonly pagination = {sortBy: 'id', descending: true};


  private async sendPassword(user: User){
    await UsersService.sendPassword(user);
  }
}
</script>

<style lang="less" scoped>
</style>
