<template>
    <v-container grid-list-md="24">
        <v-layout row wrap>
            <v-flex xs12 sm6
                v-for="(category, i) in categories"
                :key="i"
            >
                <app-image-card-circle
                    :src="`http://localhost:8000/api/file/${category.preview}`"
                    :title="category.title"
                    :description="category.description"
                    @clickOnImage="go(category)"
                >
                    <template slot="actions">
                        <v-btn flat @click="go(category)" color="primary">Перейти к урокам</v-btn>
                    </template>
                </app-image-card-circle>
            </v-flex>

            <v-flex xs12 sm12>
                <v-btn small block color="primary"
                       v-if="categories.length >= 10"
                       @click="fetchCategories(categories.length)"
                >
                    Загрузить еще
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import appImageCardCircle from '@/components/cards/ImageCardCircle.vue';
import {namespace} from 'vuex-class';
import {CategoriesType} from '@/services/backend/Categories';
import {prefix as main_routes_prefix} from '@/routes/main';

const components = {
  appImageCardCircle,
};

const CategoriesModule = namespace('categories');

@Component({components})
export default class Categories extends Vue {
  @CategoriesModule.Getter('items') public categories: any;

  public async go(category: CategoriesType) {
    this.$router.push({
      name: main_routes_prefix + 'categories_lessons',
      params: { category_id: category.id as String},
    });
  }

  public async fetchCategories(offset: number) {

  }

}
</script>

<style lang="less" scoped>
    .add {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: darken(white, 10%);
        }
    }
</style>
