<template>
    <v-container grid-list-md="24">
        <v-layout row wrap>
            <v-flex xs12 sm6
                    v-for="(lesson, i) in lessons"
                    :key="i"
            >
                <app-image-card-circle
                        :src="`http://localhost:8000/api/file/${lesson.preview}`"
                        :title="lesson.title"
                        :description="lesson.description"
                        textOverflow
                        @clickOnImage="go(lesson)"
                >
                    <template slot="actions">
                        <v-btn flat @click="go(lesson)" color="primary">Посмотреть</v-btn>
                    </template>
                </app-image-card-circle>
            </v-flex>

            <v-flex xs12 sm12>
                <v-btn small block color="primary"
                       v-if="lessons.length >= 10"
                >
                    Загрузить еще
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import appImageCardCircle from '@/components/cards/ImageCardCircle.vue';
import {namespace} from 'vuex-class';
import {LessonsType} from '@/services/backend/Lessons';
import {prefix as main_routes_prefix} from '@/routes/main';

const components = {
  appImageCardCircle,
};

const LessonsModule = namespace('lessons');

@Component({components})
export default class Lessons extends Vue {
  @LessonsModule.Getter('items') public lessons: any;

  private go(lesson: LessonsType) {
      this.$router.push({name: main_routes_prefix + 'simple_lesson', params: {id: lesson.id as String}});
  }



}
</script>

<style lang="less" scoped>
    .add {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: darken(white, 10%);
        }
    }
</style>
