<template>
    <v-container fluid fill-height>
        <v-layout align-center fill-height >
            <v-item-group
                    v-model="window"
                    mandatory
                    tag="v-flex"
                    class="shrink mr-4"
            >
                <v-item
                        v-for="n in window_count"
                        :key="n"
                >
                    <div slot-scope="{active, toggle}">
                        <v-btn
                                :input-value="active"
                                icon
                                @click="toggle"
                                color="accent"
                                small
                        >

                            <v-icon>mdi-record</v-icon>
                        </v-btn>
                    </div>
                </v-item>
            </v-item-group>

            <v-flex fill-height>
                <v-window
                        v-model="window"
                        class="elevation-1"
                        vertical
                        style="height: 100%"
                        ref="window"

                >
                    <v-window-item class="screen_head">
                        <v-container
                                class="screen_content"
                                fill-height
                                align-content-center
                        >
                            <v-flex
                                    xs12
                                    class="text-xs-center"
                                    justify-center
                            >

                                <h1>Simple Development</h1>
                                <p>Изучение современных веб технологий.</p>

                                <v-btn
                                        :color="colors.indigo.darken3"
                                        style="color: #fff; width: 165px;"
                                        @click="next"
                                >
                                    Узнать больше
                                </v-btn>

                                <v-btn
                                        :color="colors.deepPurple.accent2"
                                        style="color: #fff; width: 165px;"
                                        @click="goLearn"
                                >
                                    Начать обучение
                                </v-btn>

                            </v-flex>
                        </v-container>
                    </v-window-item>

                    <v-window-item class="screen_techologies">
                        <v-container fill-height>
                            <v-layout row wrap align-content-center class="screen_content">
                                <v-flex sm7 style="padding: 20px 0;">
                                    <h1>Изучай только современные технологии</h1>
                                    <div class="box-container">
                                        <p>Мы акцентируем внимание только на самом важном и актуальном.</p>
                                        <v-btn  :color="colors.deepPurple.accent2"
                                                style="color: #fff; width: 165px;"
                                                @click="next()">Далее
                                        </v-btn>
                                    </div>
                                </v-flex>
                                <v-flex sm4 offset-sm1>
                                    <v-container grid-list-md>
                                        <v-layout row wrap>
                                            <v-flex
                                                    sm6
                                            >
                                                <image-3d
                                                        :image="require('@/assets/images/icons/php-icon.png')"
                                                        height="80"
                                                        width="80"
                                                />
                                            </v-flex>

                                            <v-flex
                                                    sm6
                                            >
                                                <image-3d
                                                        :image="require('@/assets/images/icons/visual-studio-code-icon.png')"
                                                        height="80"
                                                        width="80"
                                                />
                                            </v-flex>
                                            <v-flex
                                                    sm6
                                            >
                                                <image-3d
                                                        :image="require('@/assets/images/icons/vue-icon.png')"
                                                        height="80"
                                                        width="80"
                                                />
                                            </v-flex>
                                            <v-flex
                                                    sm6
                                            >
                                                <image-3d
                                                        :image="require('@/assets/images/icons/js-icon.png')"
                                                        height="80"
                                                        width="80"
                                                />
                                            </v-flex>
                                            <v-flex
                                                    sm6
                                            >
                                                <image-3d
                                                        :image="require('@/assets/images/icons/mysql-icon.png')"
                                                        height="80"
                                                        width="80"
                                                />
                                            </v-flex>
                                            <v-flex
                                                    sm6
                                            >
                                                <image-3d
                                                        :image="require('@/assets/images/icons/webpack-icon.png')"
                                                        height="80"
                                                        width="80"
                                                />
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-flex>
                            </v-layout>

                        </v-container>
                    </v-window-item>

                    <v-window-item class="screen_personal">
                        <v-container
                                class="screen_content"
                                fill-height
                                align-content-center
                        >
                            <v-flex
                                    xs12
                                    class="text-xs-center"
                                    justify-center
                            >

                                <h1>Наставник</h1>
                                <v-container class="box-container">
                                    <p class="shades--text">У вас будет персональный ментор с большим опытом работы в IT сфере.</p>
                                    <v-btn  :color="colors.deepPurple.accent2"
                                            style="color: #fff; width: 165px;"
                                            @click="next()">Далее
                                    </v-btn>
                                </v-container>
                            </v-flex>
                        </v-container>
                    </v-window-item>

                    <v-window-item class="screen_work">
                        <v-container
                                class="screen_content"
                                fill-height
                                align-content-center
                        >
                            <v-flex
                                    xs12
                                    class="text-xs-center"
                                    justify-center
                            >

                                <h1>Работа</h1>

                                <v-container class="box-container">
                                    <p class="shades--text">
                                        После прохождения обучения, вам будет предложена оплачиваемая стажировка
                                        в одной из компаний вашего города.
                                    </p>
                                    <v-btn  :color="colors.deepPurple.accent2"
                                            style="color: #fff; width: 165px;"
                                            @click="next()">Далее
                                    </v-btn>
                                </v-container>
                            </v-flex>
                        </v-container>
                    </v-window-item>

                    <v-window-item style="height: 100%;">
                        <v-container grid-list-md align-content-center fill-height v-if="!sended">
                            <v-layout row wrap justify-center>
                                <v-flex xs12 sm12>
                                    <h1>Начать обучение</h1>
                                    <p>*Расчёт стоимости и выборка учеников производиться в индивидуальном порядке. Заполните форму и с вами свяжется наш специалист.</p>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-text-field
                                            label="Фамилия*"
                                            :rules="[rules.required]"
                                            v-model="form.last_name"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-text-field
                                            label="Имя*"
                                            :rules="[rules.required]"
                                            v-model="form.first_name"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-text-field
                                            label="Возраст*"
                                            type="number"
                                            :rules="[rules.required]"
                                            v-model="form.age"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-text-field
                                            label="Email*"
                                            :rules="[rules.required, rules.email]"
                                            v-model="form.email"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-text-field
                                            label="Телефон*"
                                            :rules="[rules.phone]"
                                            mask="+# (###) ### ##-##"
                                            return-masked-value
                                            v-model="form.phone"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-select
                                            label="Занятость"
                                            :items="itemsWork"
                                            v-model="form.status"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm12>
                                    <v-textarea
                                            label="Дополнительная информация..."
                                            v-model="form.info"
                                    ></v-textarea>
                                    <v-btn
                                            block
                                            color="primary"
                                            @click="send"
                                            :disabled="!valid || disabled"
                                    >{{ !valid ? `Заполните форму` : `Отправить` }}</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <v-container v-else fluid fill-height align-content-center class="screen_form">
                            <v-flex xs12 class="text-xs-center">
                                <h1 class="shades--text text--white">Вам позвонят или напишут на e-mail</h1>
                            </v-flex>
                        </v-container>
                    </v-window-item>

                </v-window>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
/* tslint:disable  */
import colors from "vuetify/es5/util/colors";
import Image3D from "@/components/image3D/Image3D.vue";
import rules from '@/validator/regex';
import Form, {Bid}  from "@/services/backend/bids/Form";

@Component({
  components: {
    "image-3d": Image3D
  }
})
export default class Preview extends Vue {

  private sended = false;
  private itemsWork = ['Работа', 'Школа', 'Колледж', 'ВУЗ', 'Свободен'];
  private rules = rules;
  private form : Bid = {
    last_name: "",
    first_name: "",
    email: "",
    age: "",
    phone: "+",
    info: "",
    status: "",
  };

  private window: number = 0;
  private window_count: number = 5;

  private colors: object = colors;
  private disabled: boolean = false;

  get valid(){
    return this.form.last_name.length > 1 &&
            this.form.first_name.length > 1 &&
            this.rules.email(this.form.email) === true &&
            !isNaN(parseInt(this.form.age)) &&
            this.form.status !== "" &&
            this.rules.phone(this.form.phone);
  }

  private next(){
    if(this.window_count > this.window){
      this.window++;
    }
  }

  private prev(){
    if(this.window >= 0){
      this.window--;
    }
  }

  private mounted() {
    /* @ts-ignore  */
    const window: any = this.$refs.window.$el;

    let prev_pos: any;

    window.addEventListener("mousedown", (e: any) => {
      e.preventDefault();
      prev_pos = e.screenY;
    });

    window.addEventListener("mouseup", (e: any) => {
      let current_pos = e.screenY;
      this.scroll(prev_pos, current_pos);
    });
  }

  private scroll(prev: number, current: number) {
    if (current > prev + 100 && this.window != 0) {
      this.window--;
      return;
    }
    if (current < prev - 100 && this.window < this.window_count - 1) {
      this.window++;
      return;
    }
  }

  private goLearn() {
    this.window = 4;
  }

  private async send() {
      this.disabled = true;
      const res = await Form.send(this.form);
      this.disabled = false;
      this.sended = true;
  }
}
</script>


<style lang="less" scoped>
    .v-item--active {
        .v-btn--active {
            color: red !important;
            transform: scale(0.7);
        }
    }
    .screen_head {
        background-image: url('~@/assets/images/screen-bg-1.jpg');
        background-position: bottom right;
        height: 100%;
        position: relative;
        background-size: cover;
        &::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.5;
            z-index: 1;
        }
        .screen_content {
            color: #fff;
            z-index: 2;
            position: relative;
        }
    }

    .screen_techologies {
        background-image: url("~@/assets/images/screen-bg-2-test.jpg");
        height: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        color: #fff;
        > * {
            position: relative;
            z-index: 2;
        }
        &::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.7;
            z-index: 1;
        }
        .screen_content {
            color: #fff;
            z-index: 2;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            h1{
                text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                font-size: 2em;
                color: #ff5100;
            }
            .box-container{
                border-top: 1px solid white;
                padding-top: 5px;
                p{
                    font-size: 1.3em;
                    text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .screen_personal{
        background-image: url('~@/assets/images/screen-bg-3.jpeg');
        background-position: top center;
        height: 100%;
        position: relative;
        background-size: cover;
        &::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.6;
            z-index: 1;
        }
        .screen_content {
            color: #fff;
            z-index: 2;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            h1{
                text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                font-size: 2.7em;
                color: #ff5100;
            }
            .box-container{
                border-top: 1px solid white;
                p{
                    font-size: 1.3em;

                    text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .screen_work{
        background-image: url('~@/assets/images/screen-bg-4.jpeg');
        background-position: center;
        height: 100%;
        position: relative;
        background-size: cover;
        &::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.6;
            z-index: 1;
        }
        .screen_content {
            color: #fff;
            z-index: 2;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            h1{
                text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                font-size: 2.7em;
                color: #ff5100;
            }
            .box-container{
                border-top: 1px solid white;
                p{
                    font-size: 1.3em;

                    text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .screen_form{
        background-image: url('~@/assets/images/screen-bg-5.jpeg');
        background-position: center;
        height: 100%;
        position: relative;
        background-size: cover;
        > * {
            position: relative;
            z-index: 10;
        }
        &::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.65;
            z-index: 1;
        }
        .screen_content {
            color: #fff;
            z-index: 2;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            h1{
                text-shadow: 1px 0 5px #000, -1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000;
                font-size: 2em;
                color: #ff5100;
            }
        }
    }

    .focused {
        animation: focused 0.7s ease-in forwards;
    }
    .scaling {
        animation: scaling 0.3s forwards;
    }
    @keyframes scaling {
        0% {
            transform: scale(0.7);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes focused {
        0% {
            filter: blur(4px);
        }
        100% {
            filter: blur(0);
        }
    }
</style>
