<template>
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
              <v-flex xs10 sm10>
                  <v-card>
                      <v-container grid-list-md>
                          <v-layout row wrap>
                              <v-flex xs12 sm12>
                                  <h1 class="headline">{{ lesson.title }}</h1>
                                  <v-divider></v-divider>
                              </v-flex>
                              <v-flex sm12 xs12 class="mt-3">
                                  <iframe
                                          width="100%"
                                          height="450"
                                          :src="lesson.youtube"
                                          frameborder="10"
                                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                          allowfullscreen>
                                  </iframe>
                              </v-flex>
                              <v-flex sm12 xs12>
                                  <div>
                                      <p style="white-space: pre-wrap">{{ lesson.description }}</p>
                                  </div>
                              </v-flex>
                          </v-layout>
                      </v-container>
                  </v-card>
              </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {namespace} from 'vuex-class';
import {LessonsType} from '@/services/backend/Lessons';

const LessonsModule = namespace('lessons');


@Component
export default class SimpleLesson extends Vue {
  @LessonsModule.Getter('getById') public getById: any;

  get lesson_id() {
    return this.$route.params.id as number;
  }

  private get lesson(): LessonsType {
    return this.getById(this.lesson_id);
  }

}
</script>

<style lang="less" scoped>
</style>
