<template>
        <router-view></router-view>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {namespace} from 'vuex-class';

const AuthModule = namespace('auth');

@Component
export default class App extends Vue {
        @AuthModule.Action('check') public check;


        public async created() {
           await this.check();
        }

}
</script>

<style lang="less">
</style>
