<template>
    <v-app>
        <app-toolbar
                app
                @toggleMenu="drawMenu = !drawMenu">
        </app-toolbar>
        <app-menu
                app
                :show.sync="drawMenu">
        </app-menu>
        <v-content app>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import appMenu from '@/components/layouts/admin/Menu';
import appToolbar from '@/components/layouts/admin/Toolbar';

const components = {
  'app-menu' : appMenu,
  'app-toolbar' : appToolbar,
};

@Component({ components })
export default class Admin extends Vue {
    private drawMenu: boolean = false;
}
</script>

<style scoped lang="less">

</style>
